/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 18px;
    line-height: 27px;
    font-family: "OpenSans",sans-serif; 
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

















/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request: h5bp.com/r
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
#wrapper {
   width: 960px;
   margin-left: auto;
   margin-right: auto;
   border: 1px solid;
}
h1 {
  font-size: 220%;
}
h2 { 
  font-size: 200%;
}
h3 {
  font-size: 180%;
}
h4 {
  font-size: 160%;
}
h5 {
  font-size: 140%;
}
h6 {
  font-size: 120%;
}
body{
  margin: 0px;
}

#wrapper{
  width: 960px;
 border:none;
}
#main_header{
  height: 56px;
  border: none;
  overflow: hidden;
  margin-bottom: 5px;
}
#logo{
  height:56px; 
  padding-left: 72px;
}
#acreditedBuss{
  padding-left: 286px;
}
#aplus{
  padding-left: 10px;
}
#main_header_text{
  font-family: "OpenSans",sans-serif;
  position: absolute;
  display: inline-block;
  font-size: 11px;
  padding-left: 70px;
  width: 175px;
  height: auto;
  line-height: 15px;
 
}
#op{
  opacity: 0.7;
}
#main_header_text2{
 font-family: "OpenSans",sans-serif;
 display: inline;
  font-size: 12px;
  padding-left: 30px;
}
#number{
  color: green;
}
#facebooklogo{
  margin-left: 250px;
  margin-bottom: 10px;
}
#navBar{
  background-color:#3F8252;
  height: 35px;
  line-height: 35px;
}
#navBar ul{
  display: inline;
  list-style: none;
  font-size: 12px;
  color: white;
  padding-left: 0px;
}
#navBar li{
  display: inline-block;

  
}

.restOfOptions{
  width: 115px;
}

#menu{
  margin-right: 183px;
  margin-left: 183px;
  text-align: center;
}
#small{
  font-size: 12px;
  margin: 0px;
  color: gray;
}


#estimate{
  margin-bottom: 0px;
  text-align: center;
   margin-top: 0px;
   color: rgb(93, 93, 93);
   
   font-family: "Helvetica",bold;
   font-size: 27px;
}
#firstBox{
  width: 960px;
  height: 91px;
  padding-top: 20px;
}
#serve{
  
  color: #3B844D;
  font-size: 10px;

}
#facebookBar img{
  
  height: 56px;
  width: 960px;
}
#vid{
  height: 200px;
  padding-bottom: 20px;
  padding-top: 20px;
  
 display: block;
    margin-left: auto;
    margin-right: auto
}


#left{
  font-family: "OpenSans",sans-serif;
   color: rgb(44, 44, 44);
  margin-top: 46px;
  margin-bottom: 46px;
  width: 493px;
  padding-right: 100px;
  float: left;
  height: 148px;
  font-size: 13px;
}

#right{
  padding-top: 25px;
  height: 215px;
   width: 367px;
   float: right;
    font-size: 13.4px;
}
#smallHeader{
  font-size: 13px;
  margin: 0px;
}
#right ul{
  padding-left: 0px;
}


.tableHeader{
  
   text-transform: uppercase;
  display: inline-block;
  width: 310px;
  text-align: center;
  height: 56px;
  background: #7F8C8D;
  line-height: 3;
  color: rgb(255, 255, 255);
  z-index: 112;
  
}
#infoTable{
float:right;
  height: 389px;
  width: 940px;
  background-color: gray;
}

#infoTableBlueSide{
  padding-top: 0px;
  clear: both;
  width: 20px;
  height: 240px;
  background-color: #2980b9;
  float:left;

 
}
#infoTableRedSide{
  
  width: 20px;
  height: 149px;
  background-color: #c0392b;
  float:left;
 
}



.flippedText{
  clear: both;
  margin-top: 0px;
 font-family: "OpenSans",sans-serif ;
 color: rgb(255, 255, 255);
 font-size: 10px; 
line-height: 7px;
 margin-bottom: 0px;
 margin-top: 48px;
 margin-bottom: 48px;
 text-align: center;
 
 
}
.flippedText > span {
  width: 15px;
  height: 9px;
  padding-right: 4px;
  padding-left: 1px;
   float:left;
  -webkit-transform:rotate(270deg);
}
.flippedText br{
  line-height: 50%;
}

.firstRowtableData{
   font-family: "OpenSans",sans-serif;
  float: right;
  height: 32px;
  width: 310px;
  background-color: #F7F7F7;
  
    color: rgb(119, 119, 119);
   z-index: 124;
   font-size: 12px;
line-height: 32px;
}
.tableData{
   font-family: "OpenSans",sans-serif;
  
  float: right;
  height: 32px;
  width: 305px;
  background-color: #F7F7F7;
   color: rgb(119, 119, 119);
    z-index: 124;
    font-size: 12px;
line-height: 32px;
margin-right: 5px;
}
.first{
  
  border-bottom-style:solid;
  border-width: 1px;
  border-color: #E9E9E9
}
.last{
   border-top-style:solid;
  border-width: 1px;
   border-color: #E9E9E9
}
.middle{
  border-top-style:solid;
  border-bottom-style:solid;
  border-width: 1px;
   border-color: #E9E9E9;
}
#heaterWrap{


  height: 389px;
  background-color: #EEF1F5;
   text-align: center;
  

}
#redHeader{
  
  font-size: 27px;
  color: #c0392b;
  text-align: center;

}
.heat{

  font-size: 14px;
  color: #2c2c2c;
}
.space{
  clear: both;
  height: 20px;
}
#coolingWrap{


  height: 389px;
  
   text-align: center;
  

}
#blueHeader{
  
  font-size: 27px;
  color: #2980b9;
  text-align: center;

}
#about{
   font-size: 27px;
 
  text-align: center;
}
.images{
  margin-top: 20px;
  width: 190px;
  height: 150px;

}
.midImage{

  margin-left: 60px;
  margin-right: 60px;
}
.brand{
  width: 960px;
  height: 300px;
}
#BranWrap{

  background-color: #EEF1F5;
  text-align: center;
  


}